* {
}

.navbar {
  padding: 1.5rem 0 !important;
}

.navbar-brand {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

.navbar-nav .nav-link {
  font-size: 1.1rem !important;
  padding: 0.75rem 1rem !important;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
}

.column {
  display: flex;
  gap: 1rem;
}

.row {
}

main {
}

footer {
  margin-top: auto;
}
