{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="column">
    <h2>Welcome to the Devlogs home</h2>
  </div>
</div>
<div class="container">
  <div class="column">
    <h1><a class="btn btn-primary" href="/createlog.html">Create Log</a></h1>
  </div>
</div>
<div class="container">
  <div class="row">
    {% for entry in entries %}
    <div class="col-md-6 mb-3">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h4 class="card-title"><b>Project:</b> {{ entry.project }}</h4>
          <h5 class="card-title"><b>Author:</b> {{ entry.author }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ entry.created.strftime('%d of %B %Y at %H:%M') }}
          </h6>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            Time worked: {{ entry.worktime }} hrs
          </h6>
          <a href="/log/{{ entry.id }}">View Details</a>
        </div>
      </div>
    </div>
    {% else %}
    <div class="col-12">
      <br />
      <h5>No entries yet.</h5>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
